@model Mall.ViewModels.StoreViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.StoreName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StoreName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StoreDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StoreDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentDebt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentDebt)
    </dl>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Description
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => product.ProductName)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.ProductDescription)
                    </td>
                    <td>
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.ProductId">Edit</a> |
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">Details</a> |
                        <a asp-controller="Products" asp-action="Delete" asp-route-id="@product.ProductId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.StoreId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
