@model Mall.ViewModels.ProductsListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Product list</h1>

<div class="container flex-justify-between-center">
    <div>
        <a asp-action="Create">Create New</a>

        <form asp-action="Index" asp-controller="Products">
            <p>
                <input type="text" name="SearchString" placeholder="Search product">
                <input type="submit" value="Go" />
            </p>
        </form>
    </div>

    @if (Model.PagingInfo.TotalItems > 10)
    {
        <pager page-info="@Model.PagingInfo" page-action="Index" page-title="Enter page">
        </pager>
    }
</div>

<table class="table">
    <thead>
        <tr>
            @{
                string[] nazivi = { "Product name", "Price", "Description", "Where to find" };
                for (int i = 1; i <= nazivi.Length; i++)
                {
                    <th>
                        <a asp-route-sort="@i"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == i ? !Model.PagingInfo.Ascending : true)">
                            @nazivi[i - 1]
                        </a>
                    </th>
                }
            }
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>