@model Mall.ViewModels.RoomsListViewModel

@{
    ViewData["Title"] = "index";
}

<h1>List of rooms</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @{
                string[] nazivi = {"Room number", "Rent", "Is it available"};
                for (int i = 1; i <= nazivi.Length; i++)
                {
                    <th>
                        <a asp-route-sort="@i"
                           asp-route-page="@Model.PagingInfo.CurrentPage"
                           asp-route-ascending="@(Model.PagingInfo.Sort == i ? !Model.PagingInfo.Ascending : true)">
                            @nazivi[i - 1]
                        </a>
                    </th>
                }
            }
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rooms)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rent)
            </td>
            <td>
                @if (item.IsAvailable)
                {
                    <a>Available</a>
                }
                else
                {
                    <a>Not available</a>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
